
.red{
    color: red;
}
  
.bold {
font-weight: bold;
}

.Cockpit button {
    background-color: green;
    color: white;
    padding: 16px;
    font: inherit; 
    border: 1px solid blue;
}

  
.Cockpit button:hover {
    background-color: lightgreen;
    color: black;
}
.Cockpit button.Red {
    background-color: red;
    color: white;
}
.Cockpit button.Red:hover {
    background-color: salmon;
    color: black;
}
  